body {
    font-family: "Solway", serif;
}

.main {
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.map-sec {
    width: 60%;
    height: 100%;
}

.vehicles-list {
    width: 40%;
    height: 100vh;
    overflow-y: auto;
}

.vehicle__item {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.vehicle__item:nth-of-type(2n + 1) {
    background-color: #f3f3f3;
}

.vehicle__item:hover,
.vehicle__item.active {
    background-color: #bbbbbb;
}

.vehicle__item * {
    pointer-events: none;
}

.vehicle__item .vehicle__id {
    text-align: center;
}

.vehicle__item .vehicle__id {
    width: 100px;
}

.vehicle__item .vehicle__img {
    width: 150px;
}

.vehicle__id span {
    border: 2px solid #00bcd4;
    padding: 5px;
    border-radius: 5px;
}

.vehicle__img img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.vehicle__info {
    flex: 1;
    padding: 0 10px;
}

.vehicle__info .vehicle__title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

.vehicle__info .vehicle__description {
    width: 300px;
    max-width: 60%;
    padding: 0 10pxx;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pointer {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000000;
    position: relative;
    left: -2.5px;
}

.map-vehicle__item {
    border: 5px solid #00bcd4;
    border-radius: 10px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.65);
    position: absolute;
    bottom: 0px;
    left: -268%;
    background-color: #fff;
    transform-origin: 0 0;
    transition: transform 0.25s;
}

.map-vehicle__item::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 15px;
    border-top: 25px solid #00bcd4;
    border-bottom: 20px solid transparent;
    border-left: 5px solid transparent;
    border-right: 20px solid transparent;
}

.pointer.active {
    z-index: 2;
}

.map-vehicle__item:hover,
.pointer.active .map-vehicle__item {
    transform: scale(1) translate(-10px, -23px)
}

.map-vehicle__item .item__wrapper {
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    padding: 6px 10px;
}

.hint {
    display: none;
    width: 300px;
    height: auto;
    background-color: #00bcd4;
    padding: 10px;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 0;
}

.hint::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50px;
    border-top: 5px solid #00bcd4;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.pointer.active .hint {
    display: block;
}

.hint__model {
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
}

.hint__category {
    font-weight: bold;
}

.hint__description {
    font-weight: 400;
}

.hint__category,
.hint__description {
    font-size: 12px;
    color: #1f1e1e;
}

.hint__description,
.show-more.active {
    display: none;
}

.hint__description.active,
.show-more {
    display: block;
}

.show-more {
    text-decoration: underline;
}

.user-marker {
    position: absolute;
    bottom: 2px;
    left: -14px;
}
